<% -layout("/layouts/boilerplates.ejs")%>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />

      <h3>Edit Address</h3>
      <form action="/users/<%= currUser.id%>/addresses/<%= address._id %>/edit?_method=PUT" id="addressForm" novalidate class="needs-validation" method="post">
        <div class="mb-3">
          <label for="street" class="form-label">Street <sup>*</sup>:</label>

          <input type="text" id="street" name="address[street]" value="<%= address.street%>" class="form-control" required />
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">City <sup>*</sup>:</label>

          <input type="text" id="city" name="address[city]" value="<%= address.city%>" class="form-control" required />
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="mb-3">
          <label for="zipCode" class="form-label">ZipCode <sup>*</sup>:</label>

          <input type="text"  id="zipCode" name="address[zipCode]" value="<%= address.zipCode%>" class="form-control" required />
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="mb-3">
          <label for="state" class="form-label">State <sup>*</sup>:</label>

          <input type="text" id="state" name="address[state]" value="<%= address.state%>" class="form-control" required />
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country<sup>*</sup>:</label>
          <input type="text" id="country" name="address[country]" value="<%= address.country%>" class="form-control" required />
          <div class="invalid-feedback">
          </div>
        </div>
        <br />

        <br />
        <div class="mb-3">
          <button class="btn btn-dark add-btn">Save</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>