<% layout("/layouts/boilerplates.ejs")%>

<body>
  <div>
    <br />
    <br />
    <% if(addresses.length>0) { let count =1; %> <% for(address of addresses) {%>

    <div class="row">
      <div class="col-8 offset-2">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="text-start">
              <h5 class="mb-1">Address<%=count++%>
              </h5>
              <p class="text-muted mb-0">
                Street: <%= address.street %><br />
                City: <%= address.city %><br />
                State: <%= address.state %><br />
                Zip Code: <%= address.zipCode %><br />
                Country: <%= address.country %><br />
              </p>
            </div>
            <div class="d-flex">
              <a href="/users/<%= currUser.id %>/addresses/<%= address._id %>/edit" class="btn btn-sm btn-info me-2 me-2">Edit</a>
              <form method="GET" action="/users/<%= currUser.id %>/addresses/<%= address._id %>/delete">
                <button class="btn btn-sm btn-danger" type="submit">
                  Remove
                </button>
              </form>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>

    <% }%>
    <% } else{ %>

    <div class="d-flex justify-content-center align-items-center">
      <a class="nav-link fs-5" href="/users/<%= currUser.id %>/addresses/new">
        <h1>
          <i class="fa-solid fa-plus" style="color: #74c0fc"></i>new address
        </h1>
      </a>
    </div>

    <% } %>
  </div>
</body>